.techguys-firstrow  .portfolio-item
{
padding-right: 0px;
padding-left: 0px;
height: 100%;

}
.techguys-firstrow  .portfolio-item img{
	height: 100%;
	width: 100%;
}
/*a:focus, a:hover{
	color: black;
}
*/
.portfolio-item:hover{
	opacity: 1;
	background: rgba(254, 209, 54, 0.1);
}

@media screen  and (min-width: 990px){
.techguys-firstrow  .portfolio-item.hero-img-1{
	width: 50%;
}
.techguys-firstrow  .portfolio-item.hero-img-2, 
.techguys-firstrow  .portfolio-item.hero-img-3 {
	width: 25%;
}

}
.tech-content{
left: 60px;
    margin-right: 60px;
    position: absolute;
    color: white;
    bottom: 30px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;

}
.tech-tag-trending{
background-color: rgba(202,49,49,0.7);
    text-transform: UPPERCASE;
    display: inline-block;
    line-height: 1em;
    color: white;
    font-weight: bold;
    padding: 10px 15px 8px 15px;
    font-size: 12px;
    z-index: 1;
    position: relative;
}
.hero-text {
    font-size: 3.23529em;
    line-height: 1em;
    font-weight: 300;
    color: #ff5552;
    font-family: Panton,sans-serif;
    font-weight: normal;
    position: relative;
    z-index: 5;
    margin-bottom: 17px;
    margin-top: 10px;
}

.navbar-inverse {
    background-color: #715bb7;

}
    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-brand {
        color: white;
    }
        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-brand:hover {
            color: white;
     
           background-color:black;
        }